.card {
  &-block {
    display: grid;
    justify-content: space-between;

    margin-top: toRem(28);

    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: toRem(28);
  }

  &__item {
    width: toRem(384);
    height: toRem(484);

    border-radius: 15px 15px 0 0;
    // border: 3px solid var(--primary-color);
    outline: 1.5px solid var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px 0 var(--primary-color);

    figure {
      overflow: hidden;

      border-radius: 15px 15px 0 0;
    }

    img {
      width: 100%;
      height: toRem(380);

      object-fit: cover;
    }
  }

  &__title {
    color: var(--secondary-color);

    font-size: toRem(18);
    font-weight: 700;
  }

  &__body {
    padding: toRem(12);

    line-height: toRem(32);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    margin-top: toRem(10);

    color: var(--secondary-color);

    font-size: toRem(16);
  }
}
