main {
  min-height: 100vh;
  padding: toRem(24);

  transition: color 0.1s, background-color 0.1s;

  background-color: var(--primary-color);
}

.container {
  width: toRem(1024);
  // height: 100vh;
  margin: 0 auto;
  padding: toRem(24);

  transition: color 0.1s, background-color 0.1s;

  border-radius: 5%;
  background-color: var(--secondary-color);
}
