.products {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: toRem(12);
  }

  &__btn {
    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    color: var(--primary-color);

    font-size: toRem(28);
    font-weight: 700;

    gap: 3px;
  }
  &__accordion {
  }
}
