main {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: toRem(24);
}

.container {
  max-width: toRem(1024);
  height: 100vh;
  background-color: var(--secondary-color);
  margin: 0 auto;
  border-radius: 5%;
}
