:root {
  --primary-color-light: rgb(255 255 255);
  --secondary-color-light: rgb(0, 0, 0);

  --primary-color-dark: rgb(42 48 60);
  --secondary-color-dark: rgb(166 173 187);
}

[data-theme='light'] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
}

[data-theme='dark'] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
}
